<header>
<div class="header"><h1>Site Name</h1>
<ul>
    <li>Movies</li>
    <li>Saved Movies</li>
    <li>Movie Ratings</li>
    <li>Profile</li>
    <li>Sign In</li>
    <li>Sign Up</li>
</ul>
</div>
</header> 