<h1>{{title}}</h1>
<div id="about">
    <video width="1000" height="500" controls>
  <source src='images/umi_vid.mp4' type="video/mp4">
Your browser does not support the video tag.
</video>
    <p>Above is a demo video recorded to display how the site is meant to be navigated and used.</p>
  <p>This website was created by Miles Charles as the final project for the CIM343 course. The website is 'data-driven' by allowing users to post messages that is stored within a PostgresSQL database and displaying that information on the site. I chose to make it unique in visuals and gamify it by creating a mascot, UMI (which I drew the GIFs and website icon of myself). The site premise is to feed UMI 'mail' (user messages). This is engaging for users since they can share as many messages as they'd like.</p>
<p>My idea for the site was to make it retro-styled to match the theme of the computer I designed, and also to reflect the simplistic, nostalgic nature of the site, which focuses on how Web 1 highlighted user interaction. It's meant to come off as personable and friendly rather than being professional. To align with this theme, I used colors that remind me of older Intenet Explorer a font that's pixellated.</p>
<p>I originally got the idea from an image I saw online which depicted a computer saying it wants to receive mail. That gave me the idea to create this site. I first started by designing the computer, then laying out the elements on each page to get an idea of where things would go. Then, I built off of the previous code we used for adding tasks to allow that information to get displayed on the website, visibly showing the data collected to anyone who accesses it.</p>
</div>