<h1>Welcome to UMI's Mailroom!</h1>
<img src='images/hungry_computer.gif' alt="an illustrated GIF of a retro boxy computer drooling"width="750px">
<div id="umihome">
<p>Hey friend! Meet my pal, UMI, which stands for Unlimited Mail Intake. UMI loves to receive mail; in fact, mail is UMI's favorite food in the Whole Wide Web!</p>
<p>Speaking of, it looks like UMI is hungry!</p>
<a href="/feedumi">
<div id="mailbutton">Let's Go Feed UMI!
    </div>
    </a>
</div>