<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/mobile.css' media='only screen and (max-width:1610px)' />
  </head>
  <body>
    {{>nav}}
    <main>
    {{{body}}}
    </main>
    {{>footer}}
  </body>
</html>