<h1>{{title}}</h1>
<img src='images/eating_computer.gif' alt="an illustrated GIF of a retro boxy computer eating an envelope" width="750px">
<div id="received">
<p>Thank you for feeding UMI! UMI is very grateful and will preserve your message on this site!</p>
<p>You can check out the letter you sent and other mail that UMI's collected in the Mailroom!</p>
<a href="/mailroom">
<div id="mailbutton">
    Check out UMI's Mail!
    </div>
    </a>
</div>