<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Now Playing</h1>
    <div id="movies"></div>
    <img src="public/images/hungry_computer.gif">

    <script>
const apiKey = 'f997a4335d873625cd306462c1d67ba8';


const apiUrl = `https://api.themoviedb.org/3/movie/now_playing?api_key=${apiKey}`;


const moviesContainer = document.getElementById("movies");


async function fetchMovies() {

    const response = await fetch(apiUrl);
    const data = await response.json();
    console.log(data);
    data.results.forEach(media => {
        const movieCard = createMovieCard(media);
        moviesContainer.appendChild(movieCard);
    });
}

function createMovieCard(media) {
    const title = media.title;
    const name = media.name;
    const backdrop_path = media.backdrop_path

    const movieCard = document.createElement("div");

    movieCard.classList.add("movie_item");

    movieCard.innerHTML = `
        <img src="https://image.tmdb.org/t/p/w500/${backdrop_path}" class="movie_img_rounded">
        <div class = "title">${title || name}</div>
    `;

    return movieCard;
}

fetchMovies();
    </script>
</body>

</html>