nav{
  width: 100%;
}
nav > a > img{
  float: left;
}
 nav > ul{
  font-size: 25px;
}

#umihome{
  display:block;
  padding-left: 10%;
  padding-right: 10%;
  align-self: center;
  align-content: center;
  justify-self: center;
  justify-content: center;
}

#received{
   display:block;
  padding-left: 10%;
  padding-right: 10%;
}

img{
  width: 450px;
  height: auto;
  float: none;
}

nav > a > img{
    padding-left: 20px;
    padding-top: 15px;
    width: 32px;
    height: 32px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 40px;
}

.feedumi-form button {
    font-size: 45px;
}

video{
  width: 375px;
  height: auto;
}

.form-group input,
.form-group textarea {
  font-size: 30px;
}

#about{
padding-left: 5%;
padding-right: 5%;
}

.post-card h2 {
  font-size: 55px;
}

.post-card p {
  font-size: 40px;
}

p{
  font-size: 40px;
  text-align: justify;
}