@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
body {
    font-family: Oxygen-Mono, monospace;
    text-align: center;
    color: white;
    font-size: 32px;
    background-color: #3a0404;
}

nav > ul{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: end;
    justify-items: end;
    align-content: end;
    align-items: end;
  list-style: none;
}
nav > ul > li > a{
    text-decoration: none;
    color: rgb(rgb(247, 221, 221), green, blue)
}

nav > ul > li > a:hover{
    text-decoration: none;
    color: rgb(rgb(247, 221, 221), green, blue)
}

nav > ul > li > a:visited{
    text-decoration: none;
    color: rgb(rgb(247, 221, 221), green, blue)
}

#movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.movie_item {
    margin: 1rem;
    text-align: center;
    color: rgb(24, 24, 24);
    font-size: 25px;
    max-width: 500px;
    background-color: #b7c3cd;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-radius: 40px;
}

.title {
    padding-top: 16px;
}

.movie_img_rounded {
    border-radius: 3rem;
}